[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*.userprefs
*DS_Store
.vs
.build/
/.idea/.idea.CAP
/.idea
Properties
/pack.bat
.vscode/*
site/
BenchmarkDotNet.Artifacts/